:root {
	--dark: #164A41;
	--light: #9DC88D;
	--theme: #F1B24A;
	--background: #ffffff;
}

main{
    margin-inline-start: 5%;
    margin-inline-end: 5%;

}

body{
	background-color: var(--theme);
}

.navbar{
	background-color: var(--dark) !important;
}

.left-align{
	text-align: left;
	margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.d-block{
	   max-height: 944px;
}

.carousel-caption{
	background-color: var(--dark) !important;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}
  
.bodytext {
    text-align: justify;
    margin-block-start: 2em;
    margin-block-end: 2em;

}

.jumbotron{
	padding: 2rem;
}

.search{
	width: 20% !important;
}

h1, h2, h3, h4, h5{
	color: var(--dark);
}

p{
	color: var(--dark);
}

.footertext{
	color: var(--theme);
	padding: 1em;
}
.footertextlink{
	color: var(--light);
	#padding: 1em;
}

.footertextlink:hover{
	color: var(--theme);
}

.navbar-dark .navbar-brand {
	color: var(--theme);
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--theme);
}

.text-center {
	background-color:  var(--theme);
}

footer{
	background-color: var(--dark) !important;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
    color: var(--dark);
    background-color: var(--light);
    border-color: var(--light);
	padding: 14px 20px;
	margin: 0 20px;
	border: none;
	cursor: pointer;
}

button:hover {
	color: var(--dark);
    background-color:var(--theme);
    border-color: var(--dark);
}

button:disabled{
	background-color:grey;
}

.cancelbtn {
  width: auto;
  margin: 10px 18px;
  background-color: #f44336;
}
.loginbtn {
	width: auto;
	margin: 10px 18px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
   max-width: 400px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal-pic {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content-pic {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 9%;
  right: 3%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-fallturm, .btn-fallturm:focus, .btn-fallturm:active {
    background-color: var(--dark);
    color: white;
    margin: 0;
}

.btn-fallturm:hover {
    background-color: var(--light);
    color: white;
}

#order_cont {
    display: none;
}

#btn_order_confirm {
    display: none;
}